<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.htsc.ocrm.core.service.strategy.dao.BusinessStrategyPOMapper" >
  <resultMap id="BaseResultMap" type="com.htsc.ocrm.core.service.strategy.entity.BusinessStrategyPO" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="STRATEGY_NAME" property="strategyName" jdbcType="VARCHAR" />
    <result column="STRATEGY_TYPE" property="strategyType" jdbcType="VARCHAR" />
    <result column="SET_TARGET" property="setTarget" jdbcType="VARCHAR" />
    <result column="SELECT_PERSONS" property="selectPersons" jdbcType="VARCHAR" />
    <result column="STRATEGY_STATE" property="strategyState" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_USER" property="createUser" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_USER" property="updateUser" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, STRATEGY_NAME, STRATEGY_TYPE, SET_TARGET, SELECT_PERSONS, STRATEGY_STATE, CREATE_TIME, 
    CREATE_USER, UPDATE_TIME, UPDATE_USER
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from BUSINESS_STRATEGY
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from BUSINESS_STRATEGY
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.htsc.ocrm.core.service.strategy.entity.BusinessStrategyPO" >
    insert into BUSINESS_STRATEGY (ID, STRATEGY_NAME, STRATEGY_TYPE, 
      SET_TARGET, SELECT_PERSONS, STRATEGY_STATE, 
      CREATE_TIME, CREATE_USER, UPDATE_TIME, 
      UPDATE_USER)
    values (#{id,jdbcType=VARCHAR}, #{strategyName,jdbcType=VARCHAR}, #{strategyType,jdbcType=VARCHAR}, 
      #{setTarget,jdbcType=VARCHAR}, #{selectPersons,jdbcType=VARCHAR}, #{strategyState,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateUser,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.htsc.ocrm.core.service.strategy.entity.BusinessStrategyPO" >
    insert into BUSINESS_STRATEGY
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="strategyName != null" >
        STRATEGY_NAME,
      </if>
      <if test="strategyType != null" >
        STRATEGY_TYPE,
      </if>
      <if test="setTarget != null" >
        SET_TARGET,
      </if>
      <if test="selectPersons != null" >
        SELECT_PERSONS,
      </if>
      <if test="strategyState != null" >
        STRATEGY_STATE,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createUser != null" >
        CREATE_USER,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="updateUser != null" >
        UPDATE_USER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="strategyName != null" >
        #{strategyName,jdbcType=VARCHAR},
      </if>
      <if test="strategyType != null" >
        #{strategyType,jdbcType=VARCHAR},
      </if>
      <if test="setTarget != null" >
        #{setTarget,jdbcType=VARCHAR},
      </if>
      <if test="selectPersons != null" >
        #{selectPersons,jdbcType=VARCHAR},
      </if>
      <if test="strategyState != null" >
        #{strategyState,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.htsc.ocrm.core.service.strategy.entity.BusinessStrategyPO" >
    update BUSINESS_STRATEGY
    <set >
      <if test="strategyName != null" >
        STRATEGY_NAME = #{strategyName,jdbcType=VARCHAR},
      </if>
      <if test="strategyType != null" >
        STRATEGY_TYPE = #{strategyType,jdbcType=VARCHAR},
      </if>
      <if test="setTarget != null" >
        SET_TARGET = #{setTarget,jdbcType=VARCHAR},
      </if>
      <if test="selectPersons != null" >
        SELECT_PERSONS = #{selectPersons,jdbcType=VARCHAR},
      </if>
      <if test="strategyState != null" >
        STRATEGY_STATE = #{strategyState,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        CREATE_USER = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.htsc.ocrm.core.service.strategy.entity.BusinessStrategyPO" >
    update BUSINESS_STRATEGY
    set STRATEGY_NAME = #{strategyName,jdbcType=VARCHAR},
      STRATEGY_TYPE = #{strategyType,jdbcType=VARCHAR},
      SET_TARGET = #{setTarget,jdbcType=VARCHAR},
      SELECT_PERSONS = #{selectPersons,jdbcType=VARCHAR},
      STRATEGY_STATE = #{strategyState,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CREATE_USER = #{createUser,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      UPDATE_USER = #{updateUser,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>